#topic-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	// grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
	.topic-preview{
		margin-bottom: 20px;
		cursor: pointer;
		max-width: 800px;
		width: 70%;
		height: 100px;
		font-weight: 700;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		display: grid;
		grid-template-columns: 150px 1fr;
		.topic-img{
			place-self: stretch;
		}
		.topic-text{
			margin-left: 32px;
			font-size: 20px;
			place-self: center left;
			text-align: left;
			.topic-aux{
				font-size: 14px;
				color: grey;
				font-weight: 400;
			}
		}	
	}
}

#topic{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	#inner{
		width: 100%;
	}
	#header-title{
		font-weight: 700;
		font-size: 24px;
		width: 100%;
	}
}

.emph{
	font-weight: 700;
	color: rgb(182, 3, 3);
}