.App {
  text-align: center;

  font-family: "Noto Sans KR", "sans-serif";
  word-break: keep-all;

  
  display:grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  overflow: hidden;

  #guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: black;
    color: white;
    height: 100vh;
    padding: 0 20px 50px;

    #guide-title{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  #main{
    padding: 30px 20px ;
  }

  footer{
    position: fixed;
    bottom: 20px;
    color: white;
  }
}
