.App {
  text-align: center;
  font-family: "Noto Sans KR", "sans-serif";
  word-break: keep-all;
  height: 100%;
  overflow: hidden;

  #guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: black;
    color: white;
    height: 100vh;
    padding: 0 20px 50px;

    #guide-title{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  #main{
    //padding: 30px 20px ;
    margin:30px 40px ;
    height: 90vh;
  }

  footer{
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #969696;
  }
}
